<br>
<div id = "file">
	Director: <input type="text" id="director" name="director" value="{{director}}">
	<input id="filterBtn" type="button" onclick = "applyFilter()" value="Filter">
</div>
	<br>

{{#if director}}
<p>
Showing only movies directed by: <span class="highlight">{{director}}</span>
</p>
{{/if}}
<table>
	<thead>
		<th>Title</th>
		<th>Director</th>
		<th>Year</th>
	</thead>
	<tbody id="movie-list">
	</tbody>
</table>
<div>
	<br>
	<label for="movieTitle">Title:</label>
	<input type="text" name="movieTitle" id="movieTitle">
	<label for="movieDirector">Director:</label>
	<input type="text" name="movieDirector" id="movieDirector">
	<label for="movieYear">Year:</label>
	<input type="text" name="movieYear" id="movieYear">
	<br>
<input type="button" onclick = "createNew()"name="addBtn" id="addBtn" value="Add Movie">
