<form id="create-form" method="POST" action="">
	<div>
		<label for="movieTitle">Title:</label>
		<input type="text" name="movieTitle" id="movieTitle">
	</div>
	<div>
		<label for="movieDirector">Director:</label>
		<input type="text" name="movieDirector" id="movieDirector">
	</div>
	<div>
		<label for="movieYear">Year:</label>
		<input type="text" name="movieYear" id="movieYear">
	</div>
	<input type="submit" name="addBtn" id="addBtn" value="Add Movie">
</form>
